*#
*~
*.gfo
*.aux
*.log
*.out
*.toc
mag.atn
mag.bbl
mag.bcf
mag.blg
mag.glo
mag.lof
mag.lot
mag.pdf
mag.run.xml
mag.stn
mag.tex
mag.tex.aux
mag.tex.blg
mag.tex.log
mag.tex.out
mag.tex.tex
mag.tex.toc
mag.tex.xdv
mag.txt
mag.utn
mag.xdv
old_anschreiben.org
pdf/
